/* Общие стили для body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Стили для блока .info */
.info {
    background-color: #e0e0e0;
    padding: 15px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.info a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    margin-right: 15px;
}

.info a:hover {
    text-decoration: underline;
}

/* Стили для основного блока .main */
.main {
    padding: 30px;
    text-align: center;
    background-color: white;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.main h1 {
    color: #2c3e50;
    font-size: 2em;
    margin-bottom: 15px;
}

.main p {
    font-size: 1.2em;
}

.main a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.main a:hover {
    text-decoration: underline;
}